/**
 * CSS3 Keyframes
 * Keyframe definitions for use with custom CSS3 Animations.
 *
 * @author erikharper
 */
/**
 * Fade In Animations
 */
@include keyframes(fadeIn) {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(fadeInRight) {
  0% {
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(fadeInLeft) {
  0% {
    opacity: 0;
    @include transform(translate3d(-100%, 0, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

/**
 * Fade Out Animations
 */
@include keyframes(fadeOut) {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@include keyframes(fadeOutUp) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
}

@include keyframes(fadeOutDown) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
}

@include keyframes(fadeOutRight) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));
  }
}

@include keyframes(fadeOutLeft) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translate3d(-100%, 0, 0));
  }
}

/**
 * Zoom Animations
 */
@include keyframes(zoomIn) {
  0% {
    @include transform(scale(0));
  }
  100% {
    @include transform(scale(1));
  }
}

@include keyframes(zoomOut) {
  0% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(0));
  }
}

@include keyframes(zoomFadeIn) {
  0% {
    opacity:0;
    @include transform(scale(0));
  }
  100% {
    opacity:1;
    @include transform(scale(1));
  }
}

@include keyframes(zoomFadeOut) {
  0% {
    opacity:1;
    @include transform(scale(1));
  }
  100% {
    opacity:0;
    @include transform(scale(0));
  }
}

@include keyframes(zoomBounceIn) {
  0% {
    @include transform(scale(0));
  }
  50%{
    @include transform(scale(1.1));
  }
  70% {
    @include transform(scale(0.9));
  }
  100% {
    @include transform(scale(1));
  }
}

@include keyframes(zoomFadeBounceIn) {
  0% {
    opacity:0;
    @include transform(scale(0));
  }
  20%{
    opacity:1;
  }
  50%{
    @include transform(scale(1.1));
  }
  70% {
    @include transform(scale(0.9));
  }
  100% {
    @include transform(scale(1));
  }
}

/**
 * Fun Transitions
 */
@include keyframes(tada) {
  0% {
    @include transform(scale3d(1, 1, 1));
  }

  10%, 20% {
    @include transform(scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg));
  }

  30%, 50%, 70%, 90% {
    @include transform(scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg));
  }

  40%, 60%, 80% {
    @include transform(scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg));
  }

  100% {
    @include transform(scale3d(1, 1, 1));
  }
}
